.ver{
  display: inline;
  
}
#ver{
  background-color: darkgreen;
  color: lemonchiffon;
padding: 10px;
padding-left:20px;
}
il{
  padding-left: 15px;
}
#hor{
  background-color: darkgreen;
  color: lemonchiffon;
  display: block;
  padding-left: 0px;
    padding-right: 101px;    
    margin-left: 124px;
    margin-top: -28%;
    padding-bottom: 10px  ;
    

  

}
#ie{
  color: orange;
}
.hor{
  width: 60px;
  height: 250px;
}
