body{
    
    
    width:200px

}
.fi{
    background: darkgreen;
    padding: 10px;
  
}
.f1{
   
border: 5px solid gold;
padding: 10px;
}
.f2{
    border: 5px solid gold;
}
p{
    padding: 50px;
    padding-left:30px ;
    text-align: center;
    color: white;
}